.container-ayuda{
    position: absolute;
    height: 100px;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(155, 201, 155);
    display: flex;
    justify-content: center;
    align-items: center;
}